<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Llista rols</title>
</head>
<body>
    <table>
        <tr>
            <th>Id Rol</th>
            <th>Nom</th>
            <th>Accions</th>
        </tr>
        {% for rol in rols %}
            <tr>
                <td>{{ rol.idRols }}</td>
                <td>{{ rol.nom }}</td>
                <td>
                    <a target="_blank" href="{% url 'editarRol' rol.idRols %}"><button>Editar rol</button></a>
                    <a target="_blank" href="{% url 'esborrarRol' rol.idRols %}"><button>Eliminar rol</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a target="_blank" href="{% url 'crearRol' %}"><button>Crear rol</button></a>
</body>
</html>