<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Llista qüestionaris</title>
</head>
<body>
    <table>
        <tr>
            <th>id Questionari</th>
            <th>id Empresa</th>
            <th>Descripcio</th>
            <th>Accions</th>
        </tr>
        {% for questionari in questionaris %}
            <tr>
                <td>{{ questionari.idQuestionaris }}</td>
                <td>{{ questionari.idEmpresa }}</td>
                <td>{{ questionari.descripcio }}</td>
                <td>
                    <a target="_blank" href="{% url 'editarQuestionari' questionari.idQuestionaris %}"><button>Editar qüestionari</button></a>
                    <a target="_blank" href="{% url 'esborrarQuestionari' questionari.idQuestionaris %}"><button>Eliminar qüestionari</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a target="_blank" href="{% url 'crearQuestionari' %}"><button>Crear qüestionari</button></a>
</body>
</html>